{% extends "event/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
  <h1>Events</h1>
  {% for event in page_obj %}
    <h2>
      <a href="{% url 'event:event_detail' event.id %}">
        {{ event.title }}
      </a>
    </h2>
    <p>{{ event.description }}</p>
    <p class="date">{{ event.date_time }}</p>
    <p>{{ event.location }}</p>
  {% endfor %}
    <div>
      {% for p in page_obj.paginator.page_range %}
      <a href="?page={{ p }}">{{ p }}</a>
      {% endfor %}
    </div>
{% endblock %}